.clock {
    background:#333;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: 42.8%;
    top: 45%;
}

.clock-time,
.clock-ampm {
    font-family: sans-serif;
    font-size: 30px;
    color: orange;

}

.clock-time {
    font-size: 48px;
}